{% extends 'base.html' %}

{% block body %}
    <main>
    <div class="py-5 service-7">
        <div class="container my-4">
            <!-- Row  -->   
            <div class="row">
                <!-- Column -->
                <div class="col-md-4 mb-4">
                    <div class="">
                        <img class="rounded img-fluid" src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature2/market.jpg" alt="wrappixel kit" />
                        <div class="mt-4">
                            <h6 class="font-weight-medium">Retargeting Market</h6>
                            <p class="mt-3">You can relay on our amazing features list and also our customer services will be great experience.</p>
                            <a href="javascript:void(0)" class="linking">Learn More</a>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-md-4 mb-4">
                    <div class="">
                        <img class="rounded img-fluid" src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature2/fruit.jpg" alt="wrappixel kit" />
                        <div class="mt-4">
                            <h6 class="font-weight-medium">Fruitful Results</h6>
                            <p class="mt-3">You can relay on our amazing features list and also our customer services will be great experience.</p>
                            <a href="javascript:void(0)" class="linking">Learn More</a>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-md-4 mb-4">
                    <div class="">
                        <img class="rounded img-fluid" src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature2/instant.jpg" alt="wrappixel kit" />
                        <div class="mt-4">
                            <h6 class="font-weight-medium">Instant Solutions</h6>
                            <p class="mt-3">You can relay on our amazing features list and also our customer services will be great experience.</p>
                            <a href="javascript:void(0)" class="linking">Learn More</a>
                        </div>
                    </div>
                </div>
                            <div class="col-md-12 mt-3 text-center">
                    <a class="btn btn-info-gradiant btn-md border-0 text-white"><span>View Details</span></a>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock body %}

{% block title %}
Home
{% endblock title %}